/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 85px 1fr;
}

header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "player-name actions" "context context";
  align-items: center;
}

header #player-name {
  grid-area: player-name;
}

header #context {
  grid-area: context;
  text-align: center;
  align-content: center;
}

header #actions {
  grid-area: actions;
  display: grid;
  justify-self: end;
  justify-items: end;
}

header #actions h2 {
  font-size: 70%;
}

nav {
  height: 99%;
}

nav ul {
  height: 100%;
  width: 95%;
  margin-left: 2.5%;
  display: grid;
  grid-template-rows: repeat(15, 1fr);
  align-items: center;
}

nav ul li {
  border: solid 1px #80d9f7;
  padding: 10px;
}

footer,
section#display,
section#resources {
  display: none;
}

@media only screen and (min-width: 560px) {
  body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 65px 1fr 270px;
    grid-template-areas: "header" "main" "footer";
  }

  header {
    grid-area: header;
    display: grid;
    grid-template-columns: 250px auto 250px;
    grid-template-rows: 1fr;
    grid-template-areas: "player-name context actions";
  }

  header #player-name {
    display: grid;
    grid-template-columns: 95px 120px auto;
    grid-template-areas: "playerLeft playerCenter playerRight";
    grid-area: player-name;
    background-image: url("/images/00HudAssets-Ubiquitous/00HudAssets-Ubiquitous/01HudTopLeftSlice.png");
    background-repeat: no-repeat;
    background-size: 100% 62px;
    height: 62px;
    width: 250px;
  }

  header #player-name h1 {
    grid-area: playerCenter;
    margin-bottom: 20px;
    justify-self: center;
    align-self: center;
  }

  header #context {
    grid-area: context;
    display: grid;
    background-image: url("/images/00HudAssets-Ubiquitous/00HudAssets-Ubiquitous/01HudTopPixel.png");
    background-repeat: repeat-x;
    background-size: 100% 62px;
    height: 62px;
  }

  header #context h1 {
    justify-self: center;
    align-self: center;
  }

  header #actions {
    grid-area: actions;
    display: grid;
    grid-template-columns: 40px 125px auto;
    grid-template-areas: "actionsLeft actionsCenter actionsRight";
    background-image: url("/images/00HudAssets-Ubiquitous/00HudAssets-Ubiquitous/01HudTopRightSlice.png");
    background-repeat: no-repeat;
    background-size: 100% 62px;
    height: 62px;
    width: 250px;
  }

  header #actions #actions-text {
    grid-area: actionsCenter;
    margin-bottom: 20px;
    justify-self: center;
    align-self: center;
    width: fit-content;
  }

  header #actions #actions-text h2 {
    text-align: right;
  }

  main {
    grid-area: main;
    display: grid;
    grid-template-columns: auto 187px;
    grid-template-rows: 1fr;
    grid-template-areas: "display nav";
  }

  main section#resources {
    grid-area: resources;
    display: none;
  }

  main section#display {
    grid-area: display;
    height: 100%;
    width: 100%;
    border: dashed 1px red;
  }

  main nav {
    grid-area: nav;
  }

  main nav ul li {
    padding: 3px;
  }

  footer,
  section#display,
  section#resources {
    grid-area: footer;
    display: inherit;
  }
}

@media only screen and (min-width: 1140px) {
  body {
    grid-template-rows: 90px 1fr 270px;
  }

  header {
    display: grid;
    grid-template-columns: 525px auto 525px;
    grid-template-rows: 1fr;
    grid-template-areas: "player-name context actions";
  }

  header #player-name {
    display: grid;
    grid-template-columns: 191px 256px auto;
    grid-template-areas: "playerLeft playerCenter playerRight";
    grid-area: player-name;
    background-image: url("/images/00HudAssets-Ubiquitous/00HudAssets-Ubiquitous/01HudTopLeftSlice.png");
    background-repeat: no-repeat;
    background-size: 100% 90px;
    height: 85px;
    width: 525px;
  }

  header #player-name h1 {
    grid-area: playerCenter;
    margin-bottom: 20px;
    justify-self: center;
    align-self: center;
  }

  header #context {
    grid-area: context;
    display: grid;
    background-image: url("/images/00HudAssets-Ubiquitous/00HudAssets-Ubiquitous/01HudTopPixel.png");
    background-repeat: repeat-x;
    background-size: 100% 85px;
    height: 85px;
  }

  header #context h1 {
    justify-self: center;
    align-self: center;
  }

  header #actions {
    grid-area: actions;
    display: grid;
    grid-template-columns: 85px 256px auto;
    grid-template-areas: "actionsLeft actionsCenter actionsRight";
    background-image: url("/images/00HudAssets-Ubiquitous/00HudAssets-Ubiquitous/01HudTopRightSlice.png");
    background-repeat: no-repeat;
    background-size: 100% 85px;
    height: 85px;
    width: 525px;
  }

  header #actions #actions-text {
    grid-area: actionsCenter;
    margin-bottom: 30px;
    justify-self: center;
    align-self: center;
    width: fit-content;
  }

  header #actions #actions-text h2 {
    text-align: right;
  }

  main {
    grid-template-columns: 178px auto 187px;
    grid-template-areas: "resources display nav";
  }

  main section#resources {
    grid-area: resources;
    display: grid;
  }
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  color: #80d9f7;
}