body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90px 1fr 270px;
    grid-template-areas: "header" "main" "footer";
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "player-name context actions";
    //align-items: stretch;
        
    #player-name {
        display: grid;
        grid-template-columns: 191px 256px auto;
        grid-template-areas: "playerLeft playerCenter playerRight";
        grid-area: player-name;
        background-image: url("/images/00HudAssets-Ubiquitous/00HudAssets-Ubiquitous/01HudTopLeftSlice.png");
        background-repeat: no-repeat;
        background-size: 100% 90px;
        height: 85px;
        width: 525px;
        
        h1 {
            grid-area: playerCenter;
            margin-bottom: 20px;
            justify-self: center;
            align-self: center;
        }
        
    }
    
    #context {
        grid-area: context;
        background-image: url("/images/00HudAssets-Ubiquitous/00HudAssets-Ubiquitous/01HudTopPixel.png");
        background-repeat: repeat-x;
        background-size: 100% 85px;
        height: 85px;
    }
    
    #actions {
        grid-area: actions;
        display: grid;
        grid-template-columns: 85px 256px auto;
        grid-template-areas: "actionsLeft actionsCenter actionsRight";
        grid-area: player-name;
        background-image: url("/images/00HudAssets-Ubiquitous/00HudAssets-Ubiquitous/01HudTopRightSlice.png");
        background-repeat: no-repeat;
        background-size: 100% 85px;
        height: 85px;
        width: 525px;

        #actions-text {
            grid-area: actionsCenter;
            margin-bottom: 30px;
            justify-self: center;
            align-self: center;
            width: fit-content;

            h2 {
                text-align: right;
            }
        }
    }
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 178px auto 187px;
    grid-template-rows: 1fr;
    grid-template-areas:
        "resources display nav";

    section#resources {
        grid-area: resources;
    }

    section#display {
        grid-area: display;
        height: 100%;
        width: 100%;
        border: dashed 1px red;
    }

    nav {
        grid-area: nav;
        ul {
            li {
                padding: 3px;
            }
        }
    }
}

footer, section#display, section#resources {
    grid-area: footer;
    display: inherit;
}