body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 65px 1fr 270px;
    grid-template-areas: "header" "main" "footer";
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 250px auto 250px;
    grid-template-rows: 1fr;
    grid-template-areas:
        "player-name context actions";
    //border: solid 1px gold;
        
    #player-name {
        display: grid;
        grid-template-columns: 95px 120px auto;
        grid-template-areas: "playerLeft playerCenter playerRight";
        grid-area: player-name;
        background-image: url("/images/00HudAssets-Ubiquitous/00HudAssets-Ubiquitous/01HudTopLeftSlice.png");
        background-repeat: no-repeat;
        background-size: 100% 62px;
        height: 62px;
        width: 250px;
        
        h1 {
            grid-area: playerCenter;
            margin-bottom: 20px;
            justify-self: center;
            align-self: center;
        }
    }
    
    #context {
        grid-area: context;
        display: grid;
        background-image: url("/images/00HudAssets-Ubiquitous/00HudAssets-Ubiquitous/01HudTopPixel.png");
        background-repeat: repeat-x;
        background-size: 100% 62px;
        height: 62px;
        //width: fit-content;
        
        h1 {
            justify-self: center;
            align-self: center;
        }
    }
    
    #actions {
        grid-area: actions;
        display: grid;
        grid-template-columns: 40px 125px auto;
        grid-template-areas: "actionsLeft actionsCenter actionsRight";
        background-image: url("/images/00HudAssets-Ubiquitous/00HudAssets-Ubiquitous/01HudTopRightSlice.png");
        background-repeat: no-repeat;
        background-size: 100% 62px;
        height: 62px;
        width: 250px;

        #actions-text {
            grid-area: actionsCenter;
            margin-bottom: 20px;
            justify-self: center;
            align-self: center;
            width: fit-content;

            h2 {
                text-align: right;
            }
        }
    }
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: auto 187px;
    grid-template-rows: 1fr;
    grid-template-areas:
        "display nav";

    section#resources {
        grid-area: resources;
        display: none;
    }

    section#display {
        grid-area: display;
        height: 100%;
        width: 100%;
        border: dashed 1px red;
    }

    nav {
        grid-area: nav;
        ul {
            li {
                padding: 3px;
            }
        }
    }
}

footer, section#display, section#resources {
    grid-area: footer;
    display: inherit;
}